<div class="col-md-12 department border rounded-lg bg-light">
    <div class="col text-center department">
      <%= "#{l @month, format: :month}の仕事一覧" %>
    </div>
    <div class="col text-center">
      <%= link_to '今月', by_month_path %>
    </div>
  <div class="col-md-12 d-flex">

    <table class="table col-md-8 text-center show-width">
      <thead>
        <tr>
          <th scope="col">作業日</th>
          <th scope="col">会社名</th>
          <th scope="col">作業内容</th>
          <th scope="col">作業者</th>
        </tr>
      </thead>
      <tbody>
        <% @job_contents.each do |job_content| %>
        <tr>
          <th scope="row"><%= l job_content.start_time, format: :short %></th>
          <td><%= link_to job_content.trading_company.company_name, trading_company_path(job_content.trading_company.id) %></td>
          <td><%= link_to job_content.title,  job_content_path(job_content.id) %></td>
          <td><%= link_to job_content.user.name_full, user_path(job_content.user.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-2 show-width">
      <% @past_jobs.each do |month, count| %>
        <% month = "#{month}" %>
        <% y = month.slice(0,4) %>
        <% m = month.slice(5,2) %>
        <% ym = "#{y}" + "#{m}" %>

        <%= link_to "#{month} (#{count})", year_month_path(ym.to_i) %>
      <% end %>
    </div>
  </div>
</div>
