<div class="row">
  <% unless @work_book.blank? %>
    <%= form_with(model: @work_book,url:  user_work_books_path, local: true, class: 'col-sm-8 center-10-top  department') do |f| %>
    <%= f.hidden_field(:user_id, :value => @user.id) %>
    <div class="form-group  text-center">
      <div class="form-check col-sm-10 forms checking-btn">
      <%= f.label :paid, '有給' %>
      <%= f.check_box  :paid, {}, "vacation", "work" %>

      <%= f.submit '出勤', class: 'btn btn-success ml-4 col-sm-9' %>
      </div>
    </div>

    <% end %>
  <% else %>


    <%= form_with(model: @edit_work_book, url:  user_work_book_path(@user.id, @edit_work_book.id), method: :patch, local: true, class: 'col-sm-6 department') do |f| %>
      <div class="form-group text-center">
      <%= f.submit '退勤', class: 'btn btn-success col-sm-6' %>
      </div>
    <% end %>
  <% end %>
</div>
