<div class="row">
  <div class="col-sm-10 show-width">
    <table class="table main-table">
      <thead>
        <tr>
          <th scope="col">部署</th>
          <% if @user_departments.any? %>
            <% @user_departments.each do |user_department| %>
              <th scope="col"><%= user_department.department.department_name %></th>
            <% end %>
          <% else %>
            <th scope="col">""</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th scope="row">名前</th>
          <td><%= full_name(@user) %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <% if current_user.admin? %>
          <tr>
            <th scope="row">住所</th>
            <td><%= @user.address %></td>
          </tr>
        <% end %>
        <tr>
          <th scope="row">入社日</th>
          <td><%= l @user.created_at, format: :short %></td>
        </tr>
      </tbody>
    </table>
    <% if current_user.admin? %>
      <%= link_to '編集', edit_user_path(@user.id), class: "btn btn-secondary" %>
      <%= link_to '削除', user_path(@user.id), method: :delete, class: "btn btn-secondary content-left" %>
    <% end %>
  </div>
</div>
