<!DOCTYPE html>
<html>
  <head>
    <title>BusinessGodoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <div class="container">
      <div class="row">
        <% flash.each do |key, message| %>
          <div class=" col-md-12 text-center alert-<%= key == 'notice' ? 'suceess' : 'danger' %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
